<!-- user-list.component.html -->
<div class="container">
    <div class="left">
        <button class="btn btn-danger" routerLink="userInsert">Add New</button>
    </div>
    <h1>User List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>
            <button class="btn btn-primary m-3" routerLink="/userInsert" [queryParams]="{ id: user.id }">Edit</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  